<div id='container'>
	<div id='left-box'>			
		<div id="left-header">
			<span id="location">미래관 3층-A</span>
			<%= link_to image_tag("logout.png"), logout_path, class: 'logout' %>
		</div>
		<div id="datepicker"></div>
		
		<p class="room-category" style="word-wrap:break-word;">미래관</p>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 3층-A" >3층 - A</button>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 3층-B" >3층 - B</button>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 4층-A" >4층 - A</button>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 4층-B" >4층 - B</button>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 5층" >5층</button>
		<button class="study-room" data-event-study-room-click data-study-room="미래관 6층" >6층</button>

		<p class="room-category" style="word-wrap:break-word;">창의관</p>
		<button class="study-room" data-event-study-room-click data-study-room="창의관 삼학송실" >삼학송실</button>
		<button class="study-room" data-event-study-room-click data-study-room="창의관 학송실" >학송실</button>
		<button class="study-room" data-event-study-room-click data-study-room="창의관 진리실" >진리실</button>
		<button class="study-room" data-event-study-room-click data-study-room="창의관 지선실" >지선실</button>
		<button class="study-room" data-event-study-room-click data-study-room="창의관 창의실" >창의실</button>
		
	</div>


	<div id='center-box'>
		<div id="calendar">
			<div id="event_edit_container">
		</div>
	</div>
</div>

<div id="member-template" style="display: none;">
	<div data-member>
		<span style="font-weight:bold;">조 원</span>
		<input type="text" maxlength="7" minlength="7" placeholder="학번" class="uid" />
		<input type="text" maxlength="5" minlength="5" placeholder="이름" class="name" />
		<input type="button" value="삭제" class="form-button" data-event-member-remove>
	</div>
</div>

<div id="reservation-template" style="display: none;"> 
	<div class="date_holder"></div> 
	<label for="start" class="time-label"></label>시작시간　　
	<select name="start" class="time-select">
		<option value="">선택</option>
	</select>				

	<label for="end" class="time-label"></label>종료시간　　
	<select name="end" class="time-select">
		<option value="">선택</option>
	</select>

	<hr color="#91DCED">

	<div data-leader>
		<span style="font-weight:bold;">조  장</span>
		<input type="text" maxlength="7" minlength="7" placeholder="학번" class="uid" />
		<input type="text" maxlength="5" minlength="5" placeholder="이름" class="name" />
		<input type="button" value="추가" class="form-button" data-event-member-add>
	</div>

	<div member-table width="300" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0">
		<div clas="essential-member" data-member style="padding-right: 33px;">
			<span style="font-weight:bold;">조 원</span>
			<input type="text" maxlength="7" minlength="7" placeholder="학번" class="uid" />
			<input type="text" maxlength="5" minlength="5" placeholder="이름" class="name" />
		</div>

		<div clas="essential-member" data-member style="padding-right: 33px;">
			<span style="font-weight:bold;">조 원</span>
			<input type="text" maxlength="7" minlength="7" placeholder="학번" class="uid" />
			<input type="text" maxlength="5" minlength="5" placeholder="이름" class="name" />
		</div>
		<hr color="#91DCED">							
	</div>

	<hr color="#91DCED">
	<div>
		<span style="font-weight:bold;">전화번호</span>
		<input data-phonenumber type="text" maxlength="13" minlength="7" placeholder="010-4192-0787" />
	</div>
</div>